*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#flutter modules
/shared/device_details_flutter_module/.dart_tool/
/shared/device_details_flutter_module/build/
/shared/device_details_flutter_module/.android/build/

